*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**encabezado**/
.header{
    background-color: rgb(234, 28, 152);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1.875rem;
}
.navBar ul{
    background-color: rgb(217, 217, 217);
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
}
.nav-links{
    display: flex;
    gap:20px;
}
.barraDeBusqueda{
    width: 200px;
}

.area {
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
}

.area a {
    max-width: 400px;
    text-align: center;
    padding-top: 1rem;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}
.producto {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto img {
    max-width: 300px;
    height: auto;
}

.precio {
    color: #8D8D8D;
}

.newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsletter h3{
    color: white;
    padding-right: 20px;
}

.newsletterSection {
    background-color: #212529;
    padding: 25px;
}


/* Boton newsletter */

.button {
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    cursor: pointer;
    border: 3px solid #d30180;
    background-color: #d30180;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
    margin-left: 10px;
  }
  
  .text {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 27, 27);
    color: white;
  }
  
  .arrow path {
    fill: rgb(19, 19, 19);
  }
  
  .button:hover .arrow {
    animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-left {
    0% {
      transform: translateX(-8px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  
  .button:active {
    transform: scale(0.97);
  }
/* Fin Boton newsletter */

.foot {
    display: flex;
    justify-content: center;
    padding: 20px; 
}

.footPage{
    margin-right: 150px;
}

.footPage ul li a {
    text-decoration: none;
    color: #212529;
    font-size: 14px;
}
.logosDiv{
    display: flex;
    align-items: center;
}
.logosDiv a {
    padding: 10px;

}
.logoImg {
    width: 50px;
    min-width: 20px;
}

footer {
    background-color: #FFD5EC;
}

.copyright {
    display: flex;
    justify-content: center;
}

@media (max-width: 620px) {
    .newsletter{
     display: grid;
     grid-template-rows: repeat(2, 4rem);
     grid-template-columns: repeat(1, 1fr);
     }
    .form {
        display: flex;
        justify-content: center;
    }
    .button{
        margin-left: 10px;
    }
    .mb {
        font-size: 10px;
    }
    .footPage{
        margin-right: 0px;
    }
}

.form {
    display: flex;
    justify-content: center;
}

.nosotros {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f8f8f8;
  }
  
.nosotros h2 {
    font-size: 24px;
    color: #333;
    margin-top: 15px;
}
  
.nosotros p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}
  
.nosotros ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
.nosotros ul li {
    font-size: 14px;
    margin-bottom: 5px;
    color: #444;
}
  
.lmv {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}


.contactoBody{
    background:#d30180;
    margin:0;
}

.contacto{
    width:320px;
    height:440px;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:20px 30px;
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
}
.contacto h2{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#78788c;
    border-bottom:3px solid #78788c
}
.contacto p input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}
.contacto p input:focus{
    border-bottom:2px solid #78788c
}
.contacto p:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a
}
.contacto button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;color:#5a5a6e;
    cursor:pointer;
    transition:all .3s
}
.contacto button:hover{
    background:#78788c;
    color:#fff
}